h1 {
    color: #6297ff;
}
.search{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 50px;
}
.search:hover{
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
    margin-left: 30%;
    margin-right: 30%;
}
.results{
    margin-left: 15%;
    margin-right: 15%;
}
input{
    height: 40px;
    color: rgba(65, 64, 64, 0.685);
    border-radius: 5px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.295);
    border-color: rgba(223,225,229,0);
    font-size: 20px;
}

input:hover{
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.473);
    border-color: rgba(223,225,229,0)
}
input:focus{
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
    outline: none;
}
.question-card{
    color: rgba(65, 64, 64, 0.685);
    background-color: rgba(211, 211, 211, 0.137);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 20px;    
    margin-bottom: 20px;
    position: relative;
}
.question{
    width: 100%;
    font-size: 21px;
}
.answer-card{
    border-radius: 7px;
    height:30px;
    width:100%;
    font-size: 15;
    padding: 5px;
    padding-left: 8px;
    margin: 8px;
    text-align: right;
    color:rgba(85, 83, 83, 0.988);
    text-align:left; 
    position:relative
}
.bullet{
    color: #6297ff;
}
