img {
    margin-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.big-welcome{
    display: block;
    color: #6297ff;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    font-size:2em;
}

